@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    height: 100%;
  }
  
  /* Ensure the root element takes up the full height */
  #root {
    height: 100%;
  }
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
color: #333;
}

a {
    color: #ea580c;
    text-decoration: none;
  }
  
  
  
  button {
    background-color: #ea580c; 
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #c2410c; 
  }
